body {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
  }

  header {
    background-color: blue;
  }
  
  .p-5 {
    text: white;
    text-decoration: bold;
    text-align: center;
    font-size: 50px;
  }

  .containerCS {
    
  }

  h2 {

  }

  .textareaCS {

  }

  .buttonCS {

  }

  .containerCSS {

  }

  .containerT {

  }

  h3 {

  }

  h4 {

  }

  .time-display {

  }

  h5 {

  }

  .textareaT {

  }
  
  h6 {

  }

  .textareaW {

  }

  .h7 {

  }

  .textareaH {

  }

  .containerWK {

  } 

  .h8 {

  }

  .containerDA {

  }

  

  

